*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Ubuntu;
  color: #333333;
}
#main {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

/* header */

header {
  text-align: center;
  padding: 5rem;
}

#title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#subtitle {
  font-weight: 500;
  font-size: 1rem;
}

/* image */

figure {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#img-div {
  align-self: center;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#image {
  margin-bottom: 2rem;
  max-width: 100%;
}

#img-caption {
  font-weight: 400;
}

/* list */

#events-list {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#events-list-title {
  align-self: center;
  margin-bottom: 2rem;
}

#tribute-info {
  list-style-type: none;
}

.list-group-item {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

/* quote */

#quote-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

#quote-text {
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

/* footer */

footer {
  align-self: center;
  font-weight: 500;
}

#tribute-link {
  text-decoration: none;
  color: #477ca7;
}

@media only screen and (min-width: 700px) {
  #title {
    font-size: 3.5rem;
  }
  #subtitle {
    font-size: 1.5rem;
  }
  #events-list {
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  #title {
    font-size: 4.5rem;
  }
  #subtitle {
    font-size: 2.5rem;
  }
  #img-caption {
    font-size: 1.2rem;
  }
  .list-group-item {
      font-size: 1.5rem;
      line-height: 2.5rem;
  }
  #quote-container {
      margin-top: 2rem;
      font-size: 1.5rem;
  }
  #events-list {
      width: 50%;
  }
  footer {
      font-size: 2rem;
      padding: 2rem;
  }
}
